{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <link rel="stylesheet" type="text/css" href="{% static 'belectro/css/footer-menu.css' %}">

</head>
<body >


        <footer class="footer">
            <div class="container-fluid padding" id="footerContainer">
                <div class="row text-center" id="footerRow" style="background-color: cadetblue !important;">
                                 <div class="col-md-4" >
                                  <div  id="logo"> BElectro</div>

                                     <hr class="dark" >
                                     <div id="about">
                                  <h5><a href="/aboutus">About Us</a></h5>
                                  <h5><a href="/#services">Services</a></h5>
                                     </div>

                                 </div>

                            <hr class="dark">
                           <br>
                            <div class="col-md-4">

                                <form class="form-inline-centered">
                                    <div class="col-md-12">
                                    <h3 >Ofertat e Fundit!</h3>
                                  <div class="form-group mb-2">
                                    <label for="inputEmail4" class="sr-only">Email</label>
                                    <input type="text"   class="form-control" id="inputEmail4"  placeholder="Email">
                                  </div>
                                    <button type="submit" class="btn btn-success mb-2">Subscribe</button>
                                    </div>
                                </form>

                            </div>

                                <div class="col-md-4" id="FollowContact">
                                    <hr class="dark">
                                    <div class="col-md-6-centered">
                                    <h3 id="followUs">Follow us</h3>
                                        <div class="col-m4-4" id="social">
                                           <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                                           <a class="ins-ic mr-3" role="button"><i class="fab fa-lg fa-instagram"></i></a>
                                           <a class="li-ic mr-3" role="button"><i class="fab fa-lg fa-linkedin-in"></i></a>
                                        </div>
                                       </div>

                                  <br><hr class="dark ">

                                  <div class="contact">
                                  <div class="col-md-12  " id="contactMore">
                                     <h4>Na Kontaktoni në:</h4>

                                        <h6>Tel: +355696731549</h6>
                                        <h6>e-mail: belectro@belectro.tech</h6>

                                  </div>

                                 </div>
                                </div>

                </div>
            </div>
        </footer>
</body>
</html>























